<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.emmaguy.cleanstatusbar"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name=".CleanStatusBarService"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ToggleReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.emmaguy.cleanstatusbar.TOGGLE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
